.home {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.article-poster {
    float: left;
    width: 25%;
    margin-right: 1.5rem;
}

.article-title {
    h2 {
      font-size: 1.2em;
      color: $subtitle;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 0;
      color: $container_color;
    }
  }
