*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.35;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary_fonts;
  // font-weight: 700;
  line-height: 1.1;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

article {
  width: 75%;
  margin: 1rem auto 3rem;
}
