@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

article {
   header {
    @include clearfix;
  }
}

.hero-block {
  position: relative;
  @include clearfix;
}
